@tailwind base;
@tailwind components;
@tailwind utilities;
/* Default CSS values for index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1C4D7F;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 40%;  /* Adjust this value to control underline length */
  }
}

@keyframes underlinePulse {
  0% {
    width: 0;
  }
  40% {
    width: 80%;
  }
  60% {
    width: 40%;
  }
  80% {
    width: 70%;
  }
  100% {
    width: 50%;
  }
}

/* Add these styles after your existing CSS */
.slick-dots {
  bottom: 25px !important;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 12px !important;
}

.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}

.animate-underline {
  animation: underlinePulse 3s ease-out forwards;
}