@tailwind base;
@tailwind components;
@tailwind utilities;
/* Default CSS values for index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Instrument Sans, Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #1C4D7F;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 40%;  /* Adjust this value to control underline length */
  }
}

@keyframes underlinePulse {
  0% {
    width: 0;
  }
  40% {
    width: 70%;
  }
  60% {
    width: 30%;
  }
  80% {
    width: 60%;
  }
  100% {
    width: 40%;
  }
}

/* Add these styles after your existing CSS */
.slick-dots {
  bottom: 25px !important;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 12px !important;
}

.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}

.animate-underline {
  animation: underlinePulse 3s ease-out forwards;
}

/* Add to your CSS file or create a style tag in your component */
.slick-slider, .slick-list, .slick-track {
  height: 100% !important;
}
.slick-slide > div {
  height: 100%;
}
.slick-slide img {
  display: block;
  height: 100%;
  width: 100%;
}

/* Add this to your CSS file */
.border-animation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #F7DC07;
  animation: expandBorder 3s ease-in-out infinite;
  top: 0; /* Changed from bottom: 0 to top: 0 */
}

@keyframes expandBorder {
  0%, 100% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  50% {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes flip {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.flip-animation {
  animation: flip 8s linear infinite;
  transform-style: preserve-3d;
  backface-visibility: visible;
}



/* Navigation link hover effect */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F7DC07;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* Active navigation link */
.active-nav-link {
  background-color: #F7DC07 !important;
  color: #1C4D7F !important;
}

/* commit 1 */